%section.content
  .row
    .medium-2.columns
      = render partial: "layouts/shared/side_menu", locals: { items: @press_resources }
    .medium-10.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2 Recursos de prensa
      .wrapper-content.news
        .row
          - @press_resources.each_with_index do |press_resource, i|
            .small-12.medium-6.large-4.columns{class: "#{i==@press_resources.size-1 ? 'end' : ''}"}
              .news-content
                %h3
                  = link_to press_resource.title, press_resource_path(press_resource)
                %p
                  = press_resource.description
