%section.content
  .row
    .medium-10.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2= @item.title
      .wrapper-content
        = draw_elements(@elements)

    .medium-2.columns.hide-for-small-only
      = render partial: 'layouts/shared/side_content'
