- if Rails.env.production?
  %script{ async: true, src: 'https://www.googletagmanager.com/gtag/js?id=UA-113130514-1' }
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-122231642-1');
