%footer
  .row
    .small-12.medium-4.columns
      %h2=# Secretaría de Participación, Transparencia y Anticorrupción
      = image_tag("site/spta-s-logo.png")
      %br
      %p
        = "Presidencia de la República<br>Alameda Dr. Enrique Araujo, No. 5500.<br> San Salvador, El Salvador, CA.<br>Tel. +(503)2133-7500 | Email: info@gobiernoabierto.gob.sv".html_safe
      %br
    .small-12.medium-4.columns
      %h3 Suscríbase a nuestro boletín
      = form_tag("//gob.us4.list-manage.com/subscribe/post?u=842a2979e525425004e0dc51b&amp;id=50d05e5605", {class: "navbar-form navbar-left form-inline"}) do
        .input-group
          = hidden_field_tag 'b_842a2979e525425004e0dc51b_50d05e5605', ''

          %input.input-group-field{ type: "text", name: "EMAIL", placeholder: "Correo electrónico" }
            .input-group-button
              %input.button{type: "submit", value: "Suscribirse" }


      .clearfix
      .row
        .medium-6.columns
          = link_to image_tag('site/whatsapp.png', class: "footer-image img-responsive"), "intent://send/77713000#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"
        .medium-6.columns
          = link_to image_tag('site/phone.png', class: "footer-image img-responsive"), "tel:+50321337500"
      %br
    .small-24.medium-4.columns
      .row
        .medium-6.columns
          %ul
            %li Sobre la secretaría
            %li Descarga y multimedia
            %li Novedades
        .medium-6.columns
          %ul
            %li Casos emblemáticos
            %li Coyunturas
            %li Prensa
