.row
  .medium-24
    .title-bar{class: "hide-for-medium", "data-responsive-toggle" => "main-menu"}
      %button.menu-icon{"data-toggle" => "", :type => "button"}

      .title-bar-title.show-for-small-only
        = link_to image_tag('site/logo.png', class: "logo"), root_url

    #main-menu.top-bar
      .top-bar-left.show-for-medium-only.float-none
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li
            = link_to image_tag('site/logo.png', class: "logo"), root_url

      .top-bar-left.hide-for-medium-only.hide-for-small-only
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li
            = link_to image_tag('site/logo.png', class: "logo"), root_url


      .show-for-medium-only.top-bar-right.float-none
        %ul.header-menu.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
          %li{ class: "#{controller_name == 'pages' ? 'active-option' : ''}"}
            - unless @first_page.nil?
              = link_to @first_page.title, page_url(@first_page)
          %li{ class: "#{controller_name == 'projects' ? 'active-option' : ''}"}
            = link_to "Nuestros proyectos", projects_url()
          -#
            %li.has-submenu
              %a{:href => "#"}
                Nuestros proyectos
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li
                  = link_to "Page 1-1", nil
                %li
                  = link_to "Page 1-2", nil
                %li
                  = link_to "Page 1-3", nil

          %li{ class: "#{controller_name == 'articles' ? 'active-option' : ''}" }
            = link_to "Novedades", articles_url()
          %li{ class: "#{controller_name == 'attachments' ? 'active-option' : ''}" }
            = link_to "Informes y estudios", attachments_url()
          %li{ class: "#{controller_name == 'press_resources' ? 'active-option' : ''}" }
            = link_to "Recursos de prensa", press_resources_url()


      .hide-for-medium-only.top-bar-right
        %ul.header-menu.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
          %li{ class: "#{controller_name == 'pages' ? 'active-option' : ''}"}
            - unless @first_page.nil?
              = link_to @first_page.title, page_url(@first_page)
          %li{ class: "#{controller_name == 'projects' ? 'active-option' : ''}"}
            = link_to "Nuestros proyectos", projects_url()
          -#
            %li.has-submenu
              %a{:href => "#"}
                Nuestros proyectos
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li
                  = link_to "Page 1-1", nil
                %li
                  = link_to "Page 1-2", nil
                %li
                  = link_to "Page 1-3", nil

          %li{ class: "#{controller_name == 'articles' ? 'active-option' : ''}" }
            = link_to "Novedades", articles_url()
          %li{ class: "#{controller_name == 'attachments' ? 'active-option' : ''}" }
            = link_to "Informes y estudios", attachments_url()
          %li{ class: "#{controller_name == 'press_resources' ? 'active-option' : ''}" }
            = link_to "Recursos de prensa", press_resources_url()
