.wrapper-side
  %h3 Portal de transparencia
  .buttons
    = link_to "Visitar el portal", "http://publica.gobiernoabierto.gob.sv", class: "button"

- if @side_app
  .wrapper-side
    - url = @side_app.url.blank? ? app_path(@side_app) : @side_app.url
    = link_to image_tag(@side_app.image.url(:small)), nil
    %aside
      %span= @side_app.display_kind rescue "Sitio web"
      %h4
        = link_to @side_app.title, url
      %p= @side_app.description
- if @side_article
  .wrapper-side
    - url = @side_article.url.blank? ? app_path(@side_article) : @side_article.url
    = link_to image_tag(@side_article.image.url(:small)), nil
    %aside
      %span= @side_article.display_kind rescue "Artículo"
      %h4
        = link_to @side_article.title, url
      %p= @side_article.description
