.show-for-small-only
  %ul.vertical.menu.accordion-menu{"data-accordion-menu" => "", "data-submenu-toggle" => "true"}
    - case items.first.class.to_s
      - when "Page"
        - items.each_with_index do |item, i|
          %li
            - if item.pages.size > 0
              = link_to item.title, page_url(item)
              %ul.menu.vertical.nested
                - item.pages.each do |obj|
                  %li
                    = link_to obj.title, page_url(obj)
            - elsif item.pages.size == 0 && item.page_id == nil
              = link_to item.title, page_url(item)
      - when "Project"
        %li
          - items.each_with_index do |item, i|
            = link_to item.title, project_url(item)
      - else
        %li
          = link_to "Noticias", articles_url(), class: "#{controller_name.to_s == 'articles' ? 'not-active' : ''}"
        %li
          = link_to "Eventos", events_url(), class: "#{controller_name.to_s == 'events' ? 'not-active' : ''}"
        -#
          %li
            = link_to "Apps", apps_url(), class: "#{controller_name.to_s == 'apps' ? 'not-active' : ''}"
        %li
          = link_to "Recursos de prensa", press_resources_url(), class: "#{controller_name.to_s == 'press_resources' ? 'not-active' : ''}"
.hide-for-small-only
  %ul.vertical.menu
    - case items.first.class.to_s
      - when "Page"
        - items.each_with_index do |item, i|
          %li
            - if item.pages.size > 0
              = link_to item.title, page_url(item)
              %ul.menu.vertical.nested
                - item.pages.each do |obj|
                  %li
                    = link_to obj.title, page_url(obj)
            - elsif item.pages.size == 0 && item.page_id == nil
              = link_to item.title, page_url(item)
      - when "PressResource"
        %li
          = link_to "Recursos de prensa", press_resources_url(), class: "#{controller_name.to_s == 'press_resources' ? 'not-active' : ''}"

      - when "Project"
        %li
          - items.each_with_index do |item, i|
            = link_to item.title, project_url(item)
      - else
        %li
          = link_to "Noticias", articles_url(), class: "#{controller_name.to_s == 'articles' ? 'not-active' : ''}"
        %li
          = link_to "Eventos", events_url(), class: "#{controller_name.to_s == 'events' ? 'not-active' : ''}"
        -#
          %li
            = link_to "Apps", apps_url(), class: "#{controller_name.to_s == 'apps' ? 'not-active' : ''}"
