.row
  .medium-6.columns
    = f.label :active
    = f.check_box :active
  .medium-6.columns
    = f.label :radio_stream
    = f.check_box :radio_stream
.row
  .medium-6.columns
    = f.input :title, required: true
  .medium-6.columns
    = f.input :url
.row
  .medium-6.columns
    = f.input :description, required: true
  .medium-6.columns
    = f.label :image do
      = image_tag f.object.image.url, class: 'img-responsive img-thumbnail'
    = f.file_field :image, hide_label: true, accept: 'image/*'
