%section.content
  .row
    .medium-2.columns
      = render partial: "layouts/shared/side_menu", locals: { items: @articles }
    .medium-10.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2 Casos emblemáticos
      .wrapper-content.news
        .row
          - @articles.each_with_index do |article, i|
            - url = article.url.blank? ? emblematic_case_path(article) : article.url
            .small-12.medium-6.large-4.columns{class: "#{i==@articles.size-1 ? 'end' : ''}"}
              .news-image
                = link_to image_tag(article.image.url(:medium)), url rescue link_to image_tag("site/apps.jpeg"), url
                %span
                  = article.published_at.strftime("%d %b %Y")
              .news-content
                %span
                  = article.display_kind rescue "Artículo"
                %h3
                  = link_to article.title, url
                %p
                  = article.description
