/ Right sidemenu
#skin-select.fixed-nest
  / Toggle sidemenu icon button
  %a#toggle
  / End of Toggle sidemenu icon button
  .skin-part
    #tree-wrap
      / Profile
      .profile

        = link_to image_tag('admin/ga-logo.png'), admin_root_url
        = link_to admin_root_url() do
          %h3
            SPTA
            %small ADMIN
      / End of Profile
      / Menu sidebar begin
      .fixed-nest-sidebar
        .slimScrollDiv
          .side-bar.sidebar-fixed
            %ul#menu-showhide.topnav.slicknav
              -#
                %li
                  = link_to admin_root_url, class: 'tooltip-tip', id: 'menu-select', title: 'Dashboard' do
                    %i.palette-Deep-Purple-700.bg.ti-desktop
                    %span Dashboard
              %li
                %a.tooltip-tip{:href => "#", :title => "Banners"}
                  %i.palette-Red-400.bg.ti-image
                  %span
                    Banners
                %ul
                  %li
                    = link_to "Listado", admin_banners_url()
                  %li
                    = link_to "Nuevo banner", new_admin_banner_url()

              %li
                %a.tooltip-tip{:href => "#", :title => "Páginas"}
                  %i.palette-Indigo-700.bg.ti-layout
                  %span
                    Páginas
                    -#
                      %small.side-menu-noft New
                %ul
                  %li
                    = link_to "Listado", admin_pages_url()
                  %li
                    = link_to "Nueva página", new_admin_page_url()
              %li
                %a.tooltip-tip{:href => "#", :title => "Artículos"}
                  %i.intial.palette-Blue-700.bg.ti-book
                  %span Artículos
                %ul
                  %li
                    = link_to "Listado", admin_articles_url()
                  %li
                    = link_to "Nuevo artículo", new_admin_article_url()
              %li
                %a{:href => "#", :title => "Proyectos"}
                  %i.intial.palette-Green-700.bg.ti-briefcase
                  %span
                    Proyectos
                    -#
                      %small.side-menu-noft.bg-blue hot
                %ul
                  %li
                    = link_to "Listado", admin_projects_url()
                  %li
                    = link_to "Nueva proyecto", new_admin_project_url()
              %li
                %a.tooltip-tip{:href => "#", :title => "Apps"}
                  %i.intial.palette-Orange-700.ti-mobile.bg
                  %span Apps
                %ul
                  %li
                    = link_to "Listado", admin_apps_url()
                  %li
                    = link_to "Nueva App", new_admin_app_url()
              %li
                %a.tooltip-tip{:href => "#", :title => "Eventos"}
                  %i.intial.palette-Amber-700.bg.ti-time
                  %span Eventos
                %ul
                  %li
                    = link_to "Listado", admin_events_url()
                  %li
                    = link_to "Nuevo evento", new_admin_event_url()
              %li
                %a.tooltip-tip{:href => "#", :title => "Recursos de prensa"}
                  %i.intial.palette-Green-200.bg.ti-share
                  %span Recursos de prensa
                %ul
                  %li
                    = link_to "Listado", admin_press_resources_url()
                  %li
                    = link_to "Nuevo elemento", new_admin_press_resource_url()
              %li
                %a.tooltip-tip{:href => "#", :title => "Adjuntos"}
                  %i.intial.palette-Brown-200.bg.ti-folder
                  %span Adjuntos
                %ul
                  %li
                    = link_to "Categorías para adjuntos", admin_attachment_categories_url()
                  %li
                    = link_to "Adjuntos", admin_attachments_url()


          / end of Menu sidebar
          / bottom chat
