%section.content
  .row
    .medium-12.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2 Informes y estudios
        .report-description
          = "Descargue documentos, informes, convenios nacionales e internacionales, publicaciones y otro material producido desde la Secretaría de Participación, Transparencia y Anticorrupción como una de las políticas que promueve Gobierno Abierto de poner la mayor cantidad de información a disposición de la ciudadanía."
      .wrapper-content
        .row
          .medium-12.columns
            .download-documents
              %h3 Descarga de informes


        .row
          - if @attachment_categories.size > 0
            - @attachment_categories.each_with_index do |category, i|
              .medium-3.columns.attachment-category-wrapper
                = link_to attachment_path(category), class: "category-link" do
                  = image_tag("site/folder.png", class: "centered-folder")
                  = category.name
              - if (i+1) % 4 == 0
                .clearfix
          .clearfix
-#
  .medium-12.columns
    .div-row
      %p
        = image_tag("site/doc.png")
        = link_to attachment.name, attachment.datafile.url
      %p
        = number_to_human_size(attachment.datafile_file_size, precision: 2)
      %p
        = link_to "Descargar", attachment.datafile.url
