%section.content
  .row
    .medium-12.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2= @attachment_category.name
      .wrapper-content
        - if @attachments && @attachments.size > 0
          .row
            - @attachments.each do |attachment|
              .medium-6.columns
                .div-row
                  %p
                    = image_tag("site/doc.png")
                    = link_to attachment.name, download_api_attachment_url(attachment), target: "_blank"
                  %p
                    = number_to_human_size(attachment.datafile_file_size, precision: 2)
                .attachment-description
                  = attachment.try(:content).html_safe
        - else
          %h5= "No existen documentos"
