%section.content
  .row
    .medium-2.columns
      = render partial: "layouts/shared/side_menu", locals: { items: @events }
    .medium-8.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2 Agenda
      .wrapper-content
        - if @events.size > 0
          %table.unstriped
            %tr
              %th{width: "30%"}Fecha
              %th{width: "35%"}Actividad
              %th{width: "35%"}Lugar
            - @events.each do |event|
              %tr
                %td.table-border-right
                  = l(event.event_at, format: :long)
                %td.table-border-right
                  = event.activity
                %td
                  = event.place
    .medium-2.columns.hide-for-small-only
      = render partial: 'layouts/shared/side_content'
