.medium-12.columns
  .callout.primary
    .row
      .medium-9.columns
        %h5
          %i.ti-clipboard
          Texto
      .medium-3.columns
        = f.link_to_remove class: "button smaller alert" do
          %i.ti-trash
          Eliminar elemento
    .row
      .medium-9.columns
        = f.input :title
      .medium-3.columns
        = f.input :order
    = f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
    %br
