.medium-6.columns
  .callout.primary
    .row
      .medium-6.columns
        %h5
          %i.ti-gallery
          Imagen
      .medium-6.columns
        = f.link_to_remove class: "button smaller alert" do
          %i.ti-trash
          Eliminar elemento

    .row
      .medium-12.columns
        .callout
          .row
            .image.medium-4.columns
              = f.label :image do
                = image_tag f.object.image.url(:medium), class: 'img-responsive img-thumbnail'
              = f.file_field :image, hide_label: true, accept: 'image/*'

              = f.input :gallery

            .medium-8.columns
              .row
                .medium-7.columns
                  = f.input :title, placeholder: 'Título'
                .medium-5.columns
                  = f.input :order, placeholder: 'Orden'
                .medium-12.columns
                  = f.input :description, placeholder: 'Descripción'
