.medium-6.columns
  .callout.primary
    .row
      .medium-6.columns
        %h5
          %i.ti-video-camera
          Video
      .medium-6.columns
        = f.link_to_remove class: "button smaller alert" do
          %i.ti-trash
          Eliminar elemento
    .row
      .medium-8.columns
        = f.input :title
      .medium-2.columns
        = f.input :order
      .medium-2.columns
        = f.input :gallery
      .medium-12.columns
        .callout
          .row
            .image.medium-6.columns
              = f.input :url, placeholder: 'URL'
              %br
              = f.file_field :file
            .medium-6.columns
              = f.input :description, placeholder: 'Descripción'
