%section.content
  .row
    .large-2.columns.show-for-large
      = render partial: "layouts/shared/side_menu", locals: { items: @projects }
    .small-12.medium-12.large-10.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2 Proyectos de la secretaría
      .wrapper-content
        .row
          - @projects.each_with_index do |project, i|
            .small-12.medium-4.large-4.columns
              .project
                = link_to image_tag(project.image.url(:medium)), project_path(project) rescue link_to image_tag("site/apps.jpeg"), project_path(project)
                %span
                  = project.direction_name
                %h3
                  = link_to project.title, project_path(project)
