%section.content
  .row
    .medium-2.columns
      = render partial: "layouts/shared/side_menu", locals: { items: @projects }
    .medium-8.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2= @item.title
      .wrapper-content
        = draw_elements(@elements)

      .share-wrapper
        %h4 Compartir en las redes sociales
        .share-content
          :javascript
            $(".share-content").jsSocials({
              url: "#{project_url(@item)}",
              text: "#{@item.title}",
              showCount: false,
              showLabel: false,
              shares: ["twitter", "facebook", "googleplus", "linkedin"]
            })
    .medium-2.columns.hide-for-small-only
      = render partial: 'layouts/shared/side_content'
