%section.content
  .row
    .medium-12.columns
      = render partial: 'layouts/shared/breadcrumb'
      .wrapper
        %h2 Aplicaciones desarrolladas por la Secretaría
      .wrapper-content.news
        .row
          - @apps.each_with_index do |app, i|
            - url = app.url.blank? ? app_path(app) : app.url
            .small-12.medium-6.large-4.columns{class: "#{i==@apps.size-1 ? 'end' : ''}"}
              .news-image
                = link_to image_tag(app.image.url(:medium)), url rescue link_to image_tag("site/ga.png"), url
                %span
                  = app.published_at.strftime("%d %b %Y")
              .news-content
                %span= app.kind rescue "Articulo"
                %h3= link_to app.title, url
                %p
                  = app.description
