%br
.row
  .small-12.medium-12.large-12
    .callout.secondary
      .row
        .medium-12.columns
          %h4 Cambiar contraseña

      .row
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          .field
            = f.label :password, "Nueva contraseña"
            %br/
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
              %br/
            = f.password_field :password, autofocus: true, autocomplete: "off"
          .field
            = f.label :password_confirmation, "Confirmar nueva contraseña"
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"

          .text-center
            = f.submit "Cambiar contraseña"
