%section.content
  .row
    .medium-24.columns
      .wrapper
        %h2 Informes y estudios
        .report-description
          = "Descargue documentos, informes, convenios nacionales e internacionales, publicaciones y otro material producido desde la Secretaría de Participación, Transparencia y Anticorrupción como una de las políticas que promueve Gobierno Abierto de poner la mayor cantidad de información a disposición de la ciudadanía."
      .wrapper-content
        .row
          .medium-24.columns
            .download-documents
              %h3 Descarga de informes
        .row
          .medium-12.columns
            .div-row
              %p
                = image_tag("site/doc.png")
                = link_to "Plan de Accion AGA", nil
              %p
                2 MB
              %p
                = link_to "Descargar", nil
          .medium-12.columns
            .div-row
              %p
                = image_tag("site/doc.png")
                = link_to "Plan de Accion AGA", nil
              %p
                2 MB
              %p
                = link_to "Descargar", nil
          .medium-12.columns
            .div-row
              %p
                = image_tag("site/doc.png")
                = link_to "Plan de Accion AGA", nil
              %p
                2 MB
              %p
                = link_to "Descargar", nil
          .medium-12.columns
            .div-row
              %p
                = image_tag("site/doc.png")
                = link_to "Plan de Accion AGA", nil
              %p
                2 MB
              %p
                = link_to "Descargar", nil
