!!!
%html{:lang => "es"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Sitio de la SPTA"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render partial: 'layouts/shared/analytics'
    - if !@banner.blank? && @banner.radio_stream == true
      :javascript
        function getData() {
            $.getJSON("//radio.spta.gob.sv/status-json.xsl", function (data) {
                $.each(data, function (i, item) {
                    $('#nowplaying').text(item.source.title);
                });
                setTimeout(getData, 1500);
            });
        }
        getData();
  %body
    = yield
    = render partial: 'layouts/shared/footer'
