!!!
%html{:lang => "es"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Sitio de la SPTA"
    = stylesheet_link_tag    "pages"
    = javascript_include_tag "pages", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render partial: 'layouts/shared/analytics'

  %body
    %header
      = render partial: 'layouts/shared/header'
    = yield
    = render partial: 'layouts/shared/footer'
